<html>
  <body>
    <h1>Add an album</h1>
    <form method = "POST" action = "/albums">
    <label>Title:</label>
    <input type = "text" name = "title"></br></br>
    <label>Release year:</label>
    <input type = "int" name = "release_year"></br></br>
    <label>Artist ID:</label>
    <input type = "int" name = "artist_id"></br></br>
    <input type = "submit" value = "Submit">
  </body>
</html>